
<h3 class="text-center text-primary" >Bun Venit! Nu uita sa zambesti!</h3>
<h4 class="text-center text-primary ">Acesta este un site despre domeniul stomatologiei ce cuprinde cateva date pentru buna informare a unui pacient. </h4>
        <div class="card">
             <div class="card-body">
    <p class="card-text ">Pentru informatii generale cu privire la stomatologie si dentitie va rugam accesati:</p>
    <a href="?page=home" class="btn btn-primary">Despre Stomatologie</a>
  </div>
</div>
        <div class="card">
        <div class="card-body">
            <p class="card-text">In cazul in care doriti mai multe informatii cu privire la consultatie stomatologica accesati:</p>
            <a href="?page=consultatie" class="btn btn-primary ">Consultatia Stomatologica</a>
          </div> 
        </div>
        <div class="card">
            <div class="card-body">
    <p class="card-text">In sectiunea urmatoare gasiti raspunsul la cateva dintre intrebarile frecvte ale pacientilor:</p>
    <a href="?page=intrebari" class="btn btn-primary" >Intrebari frecvente</a>
  </div>
 </div>