<body>
    <h3 class="text-center pb-3">Ce este stomatologia și cu ce se ocupă?</h3>
    <p>Stomatologie este ramura medicinii care se ocupa cu prevenirea si tratarea afectiunilor dintilor precum si a celorlalte parti care alcatuiesc, impreuna, cavitatea bucala.</p>
    <p>Stomatologia cuprinde mai multe specialitati : pedodontia (asistenta stomatologica acordata copiilor), ortodontia (asigura asezarea in pozitie normala a dintilor, pe arcadele dentare), endodontia (tratamentul corect si complet al canalelor dentare), parodontologia (se ocupa de sanatatea parodontiului prin utilizarea de tehnici medico-chirurgicale), protetica (restabilirea integritatii dentare prin lucrari protetice fixe sau mobile), chirurgie orala (extractii dentare, indepartarea chisturilor situate la varful radacinilor, rezectii apicale, chirurgie parodontala).</p>
    <p>Este important de stiut ca dantura sanatoasa se "pregateste" inca din faza embrionara, atunci cand apar mugurii danturii viitorului copil. In perioada de sarcina trebuie acordata o importanta deosebita alimentatiei mamei, acasta trebuind sa fie corecta, bogata in cat mai multe minerale, importante fiind calciul si fluorul. </p>
    <h3 class="text-center pb-3 pt-3">Dentiția</h3>
    <div>
    <p>Dentitia este de doua tipuri :</p>
    <ul>
        <li>temporara ("dintii de lapte")</li>
        <div class="text-center">
            <img src="myapp/img/dentitielapte.jpg" width="700px" alt="lipsa poza">
   </div>
        <li>permanenta</li>
        <div class="text-center">
            <img src="myapp/img/dentitiedefinitiva.jpg" width="700px" alt="lipsa poza">
   </div>
    </ul>
    </div>
    <p>Dentitia temporara ("dintii de lapte") apare oricand in intervalul de la nastere si pana la varsta de un an, prin ceea ce se numeste "eruptie dentara", procesul incheindu-se in jurul varstei de 2 ani si jumatate. Au fost remarcate cazuri in care bebelusul a avut la nastere unul sau doi dinti.</p>
    <p>Dentitia permanenta ("definitiva") este cea care apre in intervalul 6 - 7 ani prin eruptia primului molar permanent, numit si "molar de 6 ani".</p>
    <p>Dantura unui adult este formata din 32 de dinti repartizati in numar de 16 pe fiecare arcada dentara (maxilar si mandibula) fiind impartiti astfel : 8 incisivi, (4 sus, 4 jos), 4 canini (2 sus, 2 jos), 8 premolari (4 sus, 4 jos) si 12 molari (4 - 6 superiori, 4 - 6 inferiori, in functie de ultimul molar - numit si "molar de minte" - pe fiecare hemiarcada, daca este aparut sau nu).</p>